/*
 * Datos confidenciales - NO SUBIR A GITHUB
 */

#ifndef SECRETS_H
#define SECRETS_H

// -------------------- WiFi --------------------
#define SECRET_WIFI_SSID "TU_SSID"
#define SECRET_WIFI_PASSWORD "TU_PASSWORD"

// -------------------- MQTT --------------------
#define SECRET_MQTT_USER "TU_MQTT_USER"
#define SECRET_MQTT_PASSWORD "TU_MQTT_PASSWORD"

// -------------------- OTA (opcional) --------------------
// #define SECRET_OTA_PASSWORD "TU_OTA_PASSWORD"

#endif
